html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-size: 14px;
    min-width: 720px;
}

.sidebar {
    background-color: #2E2E2E;
    width: 220px;
    height: 100vh;
    position: fixed;
    left: 0; 
    .navigation{
        padding: 25px;
        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
        .group div a{
            text-decoration: none;
            color: whitesmoke;
        }
    }
}

.mainViewContainer {
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% - 220px);
    .mainContent {
        padding: 0 20px;
    }
}

/*  Index.php   */
.pageHeadingBig{
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}